%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        pdfaExtension => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::pdfaExtension',
            },
        },
    },
);

%Image::ExifTool::UserDefined::pdfaExtension = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-pdfaExtension', 2 => 'Image' },
    NAMESPACE => { 'pdfaExtension' => 'http://www.aiim.org/pdfa/ns/extension/' },
    WRITABLE => 'string', # (default to string-type tags)
    schemas => {
        Struct => {
            NAMESPACE => { 'pdfaSchema' => 'http://www.aiim.org/pdfa/ns/schema#' },
            STRUCT_NAME => 'pdfaSchema',
            schema => { Writable => 'string' },
            namespaceURI => { Writable => 'string' },
            prefix => { Writable => 'string' },
            property => {
                List => 'Seq',
                Struct => {
                    NAMESPACE => { 'pdfaProperty' => 'http://www.aiim.org/pdfa/ns/property#' },
                    STRUCT_NAME => 'pdfaProperty',
                    name => {  Writable => 'string' },
                    valueType => {  Writable => 'string' },
                    category => {  Writable => 'string' },
                    description => {  Writable => 'string' },
                },
            },
            valueType => {
                List => 'Seq',
                Struct => {
                    NAMESPACE => { 'pdfaType' => 'http://www.aiim.org/pdfa/ns/type#' },
                    STRUCT_NAME => 'pdfaType',
                    type => {  Writable => 'string' },
                    namespaceURI => {  Writable => 'string' },
                    prefix => {  Writable => 'string' },
                    description => {  Writable => 'string' },
                    field => {
                        List => 'Seq',
                        Struct => {
                            NAMESPACE => { 'pdfaField' => 'http://www.aiim.org/pdfa/ns/field#' },
                            name => {  Writable => 'string' },
                            valueType => {  Writable => 'string' },
                            description => {  Writable => 'string' },
                        },
                    },
                },
            },
        },
        List => 'Bag',
    },
);
